# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual Environments
.venv/
venv/
env/
ENV/

# Environment variables
.env

# Database files
*.db
*.db.backup
*.sqlite
*.sqlite3

# Streamlit secrets
.streamlit/secrets.toml

# Uploads / Exports / Temp files
storage/
exports/

# OS specific files
.DS_Store
Thumbs.db
